body {
  min-height: 100vh;
}

.site-footer {
  margin: 10px 30px;
  position: fixed;
  bottom: 3%;
}

.page-header {
  background-image: linear-gradient(120deg, #d00909, #cc9393);
  background-color: #d00909;
}
